.form--control {
  margin: 0.5rem;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.form--control label,
.form--control input {
  display: block;
}

.form--control label {
  font-weight: bold;
  font-size: 13px;
  flex: 1;
  max-width: 25%;
  color: black;
  padding: 0.2rem 0.2rem;
}

.form--control input,
.form--control select {
  flex: 5;
  font: inherit;
  font-size: 13px;
  padding: 0.2rem 0.2rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

/* .form--control textarea {
  flex: 5;
  font: inherit;
  font-size: 13px;
  padding: 0.2rem 0.2rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  min-height: 100px;
  max-height: 400px;
} */

.form--actions {
  text-align: right;
}

.form--actions Button {
  margin: 0 0.5rem 0.5rem 0;
}

h4 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}