.timeline-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 5px 0;
}

.timeline-container::after {
  background-color: white;
  content: "";
  position: absolute;
  border-radius: 6px;
  border: 1px solid #537895;
  right: 93%;
  width: 2px;
  height: 100%;
}